.tooltip {
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  background-color: gray;
  transition-property: opacity;
  transition-duration: 1s;
  padding: 5px;
  width: 140px;
  max-height: 170px;
  top: 0px;
  left: -5px;
  box-shadow: 0 0 2px 3px grey;
  color: white;
  font-size: 12px;
}

:hover > .tooltip {
  opacity: 0.9;
}
